<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFLP310ggJcLeq51PD-o7W5738utvTeio</string>
	<key>GCM_SENDER_ID</key>
	<string>626169085990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.microbialSourceTracking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>glwa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>glwa-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626169085990:ios:64ea9b27fc6d0d4eb626e7</string>
</dict>
</plist>